@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-p404 {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 140px;
  color: #ff6060;
}
.container-p404__title {
  font-size: 6rem;
  font-weight: 700;
}
.container-p404__text {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
}
.container-p404__link {
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .container-p404__title {
    font-size: 18rem;
  }
  .container-p404__txt {
    font-size: 2.25rem;
  }
}
.carousel-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-inline: 20px;
  color: #ff6060;
}
.carousel-container__title {
  margin-top: 15px;
  font-size: 1.125rem;
  font-weight: 500;
}

.tagsList {
  display: flex;
  gap: 10px;
  font-size: 0.7rem;
}
.tagsList__tag {
  background-color: #ff6060;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rating-host {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .logement-container {
    margin: 20px 100px;
  }
  .carousel-container {
    margin: 0;
  }
}
.header {
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  height: 45px;
  width: 145px;
}
.navbar__link {
  color: #ff6060;
  text-transform: uppercase;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

@media screen and (min-width: 1024px) {
  .header {
    margin: 20px 100px;
  }
  .link-wrapper {
    gap: 55px;
  }
}
@media screen and (max-width: 375px) {
  .link-wrapper {
    gap: 10px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #000;
  padding-block: 80px;
}
.footer__logo {
  height: 40px;
  width: 125px;
}
.footer__copyright {
  text-align: center;
  color: #fff;
  text-wrap: balance;
  width: 130px;
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    width: 100%;
  }
}
.banner {
  position: relative;
  margin: 20px;
}
.banner__img {
  object-fit: cover;
  height: 110px;
  width: 100%;
  border-radius: 15px;
}
.banner__text {
  margin-left: 15px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-wrap: balance;
}

@media screen and (min-width: 1024px) {
  .banner {
    margin: 50px 100px;
  }
  .banner__img {
    height: 220px;
  }
  .banner__text {
    text-wrap: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.card {
  position: relative;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 80%);
  opacity: 0.5;
  pointer-events: none;
  border-radius: 15px;
}
.card__img {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}
.card__title {
  position: absolute;
  bottom: 30px;
  margin-left: 15px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.1rem;
  font-weight: 500;
  text-wrap: balance;
}

@media screen and (min-width: 768px) {
  .card-container a {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .card-container {
    margin: 50px 100px;
  }
  .card-container a {
    width: 31%;
  }
  .card__img {
    height: 340px;
  }
}
.collapse-container {
  display: flex;
  flex-direction: column;
}

.collapse {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
}
.collapse__title {
  color: #fff;
}
.collapse__chevron {
  color: white;
  font-size: 1.2rem;
  transition: transform 100ms ease-out;
}
.collapse__chevron--active {
  transform: rotate(-180deg);
}

.logement-collapse {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apropos-collapse {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline: 20px;
  margin-bottom: 20px;
}

.collapseContent {
  margin: 0px 20px 0px 20px;
  padding: 15px;
  padding-bottom: 0px;
  border-radius: 5px;
  color: #ff6060;
}

@media screen and (min-width: 1024px) {
  .logement-collapse {
    margin: 20px 0 50px 0;
    flex-direction: row;
    width: 100%;
    gap: 75px;
  }
  .logement-collapse .collapse-container {
    width: 50%;
  }
  .apropos-collapse {
    margin-inline: 100px;
    margin-bottom: 50px;
  }
}
.carousel {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.carousel__img {
  height: 255px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.chevrons {
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  color: #fff;
}
.chevrons__left {
  left: 15px;
}
.chevrons__right {
  right: 15px;
}

@media screen and (min-width: 1024px) {
  .carousel {
    height: 415px;
  }
  .carousel__img {
    height: 100%;
  }
  .chevrons {
    font-size: 3rem;
  }
}
.host {
  display: flex;
  align-items: center;
  gap: 10px;
}
.host__name {
  max-width: 70px;
  text-align: right;
}
.host__img {
  object-fit: cover;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 1024px) {
  .global-container {
    padding: 50px 100px;
  }
}
.main {
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */
