@use "./utils/index" as *;
@use "./base/index" as *;
@use "./pages/index" as *;
@use "./layout/index" as *;
@use "./components/index" as *;

html,
body {
  height: 100%;
}

.main-container {
  margin: 0 20px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .main-container {
    margin: 50px auto;
    min-height: clamp(60vh, 500px, 80vh);
  }
}
