.banner {
  margin: 20px;
  position: relative;
  &__img {
    object-fit: cover;
    height: 110px;
    width: 100%;
    border-radius: 15px;
  }
  &__text {
    margin-left: 15px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
  }
}
