@use "../utils/variables" as *;

.collapse-container {
  display: flex;
  flex-direction: column;
}

.collapse {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  &__title {
    color: #fff;
  }
  &__chevron {
    color: white;
    font-size: 1.2rem;
    transition: transform 300ms ease-out;
    &--active {
      transform: rotate(-180deg);
    }
  }
}

.logement-collapse {
  width: 100%;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apropos-collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.collapseContent {
  border-radius: 0 0 5px 5px;
  color: $primary-color;
  max-width: 100%;
  opacity: 0;
  transition: all 300ms;
  transform: translateY(-10px);
  transform-origin: top;
  padding-left: 15px;
  height: 0px;
  background-color: #f6f6f6;
  &--active {
    padding-block: 15px;
    height: 100%;
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 1024px) {
  .collapse {
    padding: 12px 20px;
  }
  .logement-collapse {
    margin: 20px 0 50px 0;
    flex-direction: row;
    width: 100%;
    gap: 75px;
  }
  .logement-collapse .collapse-container {
    width: 50%;
  }
}
