@use "../utils/variables" as *;

.collapse-container {
  margin-block: 20px;
}

.collapse {
  margin: 20px 20px 2px 20px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  &__title {
    color: #fff;
  }
  &__chevron {
    color: white;
    font-size: 1.2rem;
    transition: transform 100ms ease-out;
    &--active {
      transform: rotate(-180deg);
    }
  }
}

.collapseContent {
  margin: 0px 20px 20px 20px;
  padding: 15px;
  padding-bottom: 0px;
  border-radius: 5px;
  color: $primary-color;
}
