.host {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
  &__name {
    max-width: 70px;
    text-align: right;
  }
  &__img {
    object-fit: cover;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .host {
    margin-block: 0;
  }
}
