@use "../utils/mixins" as *;

.footer {
  @include flex-center;
  flex-direction: column;
  gap: 20px;
  background-color: #000;
  padding-block: 80px;
  margin-top: 20px;
  &__logo {
    height: 40px;
    width: 125px;
  }
  &__copyright {
    text-align: center;
    color: #fff;
    text-wrap: balance;
    width: 130px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 40px;
    &__copyright {
      width: 100%;
    }
  }
}
