@use "../utils/mixins" as *;

.footer {
  @include flex-center;
  flex-direction: column;
  gap: 20px;
  background-color: #000;
  padding-block: 80px;
  &__logo {
    height: 40px;
    width: 125px;
  }
  &__copyright {
    color: #fff;
  }
}
