@use "../utils/index" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  &__logo {
    height: 45px;
    width: 145px;
  }
  &__link {
    color: $primary-color;
    text-transform: uppercase;
  }
}

.link-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

@media screen and (min-width: 1024px) {
  .link-wrapper {
    gap: 55px;
  }
}

@media screen and (max-width: 375px) {
  .link-wrapper {
    gap: 10px;
  }
}
