@use "../utils/index" as *;

.carousel-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-inline: 20px;
  color: $primary-color;
  &__title {
    margin-top: 15px;
    font-size: 1.125rem;
    font-weight: 500;
  }
}

.tagsList {
  display: flex;
  gap: 10px;
  font-size: 0.7rem;
  &__tag {
    background-color: $primary-color;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.rating-host {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .logement-container {
    margin: 20px 100px;
  }
  .carousel-container {
    margin: 0;
  }
}
