@use "../utils/index" as *;

.container-p404 {
  padding: 50px;
  @include flex-center;
  flex-direction: column;
  gap: 140px;
  color: $primary-color;
  &__title {
    font-size: 6rem;
    font-weight: 700;
  }
  &__text {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
  }
  &__link {
    color: inherit;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1024px) {
  .container-p404 {
    &__title {
      font-size: 18rem;
    }
    &__txt {
      font-size: 2.25rem;
    }
  }
}
